<div class="container-fluid container-fluid--contact-form">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body card-body__contact-form contact-form">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <div class="contact-form__legend">
                            <legend class="text-center contact-form__text">Send us a message</legend>
                            <hr class="separator separator--contact-form">
                        </div>
                        <div class="row contact-form__input">
                            <!-- Name input-->
                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                                </div>
                            </div>

                            <!-- Email input-->
                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                                </div>
                            </div>

                            <!-- Phone input -->
                            <div class="form-group col-md-4">
                                <div class="col-md-12">
                                    <input id="phone-number" name="phone-number" type="text" placeholder="Your phone number" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row contact-form__input">
                            <!-- Subject -->
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <input class="form-control" id="subject" name="subject" placeholder="Please enter your subject here..."></input>
                                </div>
                            </div>
                        </div>

                        <div class="row contact-form__input">
                            <!-- Message body -->
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="8"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Form actions -->
                            <div class="form-group col-md-12 text-center">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn--contact-form contact-form__submit-text" name="contactBtn" value="Send message" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

