<!-- views/partials/footer.ejs -->
<section class="main-container footer">
    <div class="footer__row">
        <div class="footer__col">
            <span class="footer__title">J/A Law Firm</span>
            <div class="footer-container">
                <p>
                    We’ve been handling cases for 37 years. Personal attention to every case - not run of the Mill firm - not there to get a quick settlement and pay.
                </p>
            </div>
        </div>
        <div class="footer__col">
            <span class="footer__title">Business Hours</span>
            <div class="footer-container">
                <p>Monday - Friday: 9am to 12pm</p>
                <p>Saturday: 9am to 12pm</p>
            </div>
        </div>
        <div class="footer__col">
            <span class="footer__title">Contact Us</span>
            <div class="icon-container">
                    <i class="footer__icon footer__icon--address">
                    </i>
                <span><p>350 Fake St. Orange County, Los Angeles, California, USA</p></span>
            </div>
            <div class="icon-container">
                <i class="footer__icon footer__icon--phone"></i>
                <span><p>+2 392 3929 210</p></span>
            </div>
            <div class="icon-container">
                <i class="footer__icon footer__icon--email"></i>
                <span>John@Abdulian.com</span>
            </div>
        </div>
    </div>
    <div class="footer__row copyright"><p>Copyright ©2019 All rights reserved</p></div>
</section>
