<div class="injuries__item" id=<%= accident.name %>>
    <div class="injuries__header">
        <span class="injuries__text"><%= accident.name %></span>
        <hr class="separator separator--accident-item">
    </div>
    <div><span><%= accident.description %></span></div>
    <a href="#" class="injuries__info"><span>Learn more > </span></a>
</div>
