<div class="settlement">
    <div class="settlement__header">
        <span class="settlement__header-sum"><%= total.total %></span>
        <span class="settlement__header-subject">Settlement</span>
    </div>
    <hr class="settlement__separator">
    <div class="settlement__body">
            <span class="settlement__icon">
               <i class="fa fa-car fa-3x"></i>
            </span>
        <span class="settlement__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lectus aliquet, blandit ante id, vestibulum quam. Quisque lobortis nisl id efficitur facilisis. Cras sed ipsum velit. Nulla interdum, dolor non tincidunt rutrum, enim lorem accumsan mi, sit amet euismod dui nibh sed elit. Nulla facilisi. Sed erat orci, ultricies quis semper ut, efficitur eget sem.</span>
    </div>

</div>
