// Custom.scss

// Figure out which scss you want to modify and import that. Try clicking into node_modules/bootstrap/scss.

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/jumbotron";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

.jumbotron {

    h1 {
      font-size: 3rem;
    }

    p {
      color: white;
      text-shadow: #000000 1px 0 10px;
    }
}

//hr {
//    //background-color: dimgrey !important;
//    //color: rgb(182, 176, 176) !important;
//    height: 7px !important;
//    width: 11% !important;
//}

.BG {
    width: 100%;
    height: 64px;
    background-color: #0a2239;
}

#navbarNav {
    justify-content: flex-end;}

.navbar {
    padding: 0 5rem;
}

.nav-link {
    color: #eeeeee;
    border-bottom: 3px solid transparent;
}

.nav-item {
    overflow: hidden;
}

.nav-link:hover {
    border-bottom: 3px solid $white;
    color: #eeeeee;
}

.nav-item.active {
    .nav-link {
        border-bottom: 3px solid $white;
    }
}

.jumbotron-custom {
    background-image: url('../assets/home_banner/business_man_hero.png');
    background-position: center center;
    margin: 0;
    background-position-x: 80%;
    background-repeat: no-repeat;
    background-color: white;
    text-align: center;
    height: 397px;

    &__item {
        margin-bottom: 2rem;
    }

    &__text{
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      font-family: -webkit-pictograph;
    }
}

