// Custom.scss

// Figure out which scss you want to modify and import that. Try clicking into node_modules/bootstrap/scss.

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Variables
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 850px,
  xl: 1256px,
  xxl: 1440px,
);

$container-max-widths: (
  sm: 600px,
  md: 800px,
  lg: 850px,
  xl: 1256px,
  xxl: 1440px,
);

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";




// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

.container-fluid {
  &--contact-form {
    padding: 0;
  }
}


@media (min-width: 701px) {
  .container-fluid {
    &--custom {
      padding: 3rem 7rem;
    }
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .container-fluid {
    &--custom {
      padding: 3rem 5rem;
    }
  }

}

.btn {
  width: 319px;
  height: 54px;
  margin: 4rem 0 4rem;
  border-radius: 4px;
  border: solid 1px #0049a6;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  #text {
    font-size: 1.25rem;
    color: #1e3449;
  }

  &--contact-form {
    background-color: #004ca3;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
}

.jumbotron {

    h1 {
        font-size: 3rem;
    }

    p {
        color: white;
        text-shadow: #000000 1px 0 10px;
    }
}

.jumbotron-custom {
  margin: 0;
  background-repeat: no-repeat;
  text-align: center;
  height: 397px;

  &--home {
    background-image: url('../assets/home_banner/business_man_hero.png');
    background-color: white;
    background-position-x: 80%;
  }

  &--settlements {
    background-image: url('../assets/recent_settlement_banner/settlement.png');
    background-size: cover;
    height:256px;
  }

  &--about {
    background-image: url('../assets/about_banner/bitmap.png');
    background-size: cover;
    height:256px;

  }

  &__item {
    margin-bottom: 2rem;
  }

  &__shadow {
    background-color: #000000;
    height: 100%;
    opacity: .46;
    width: 70%;
    margin: auto;
  }

  &__text{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
}


// Navbar customization
@media (min-width: 850px) {
  #navbar-custom {
    width: 100%;
    height: 64px;
    background-color: #0a2239;
    opacity: 0.8;
    padding: 0 5rem;
  }

  #navbar-title {
    color: #eeeeee;
  }

  #navbarNavDropdown {
    justify-content: flex-end;
  }

  .nav-link {
    color: #eeeeee;
    border-bottom: 3px solid transparent;
  }

  .nav-item {
    overflow: hidden;
    margin: 5px;
  }

  .nav-link:hover {
    border-bottom: 3px solid $white;
    color: #eeeeee;
  }

  .nav-item.active {
    .nav-link {
      border-bottom: 3px solid $white;
    }
  }
}

@media (max-width: 849px) {
  #navbar-custom {
    width: 100%;
    height: 64px;
    background-color: #0a2239;
    opacity: 0.8;
    padding: 0;
  }

  .navbar-nav {
    padding: 1rem;
  }

  #navbar-title {
    margin: 1rem;
    color: #eeeeee;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  #navbarNavDropdown {
    justify-content: flex-end;
    background-color: #0a2239;
  }

  .nav-link {
    color: #eeeeee;
    border-bottom: 3px solid transparent;
  }

  .nav-item {
    overflow: hidden;
  }

  .nav-link:hover {
    border-bottom: 3px solid $white;
    color: #eeeeee;
  }

  .nav-item.active {
    .nav-link {
      border-bottom: 3px solid $white;
    }
  }
}

// Carousel customization
.carousel {
  &__label {
    margin: 4rem 0 4rem 0;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-control-next {
  right: -50px;
}


.carousel-control-prev {
  left: -50px;
}

#recipeCarousel .font-icon {
  width: 42px;
  height: 42px;
  border-radius: 15px;
  &__left {
    background-image: url('../assets/carousel_button_left_icon/icon.png')
  }
  &__right {
    background-image: url('../assets/carousel_button_icon/icon.png')
  }
}

#settlements-carousel{
  padding: 0 3rem 0 3rem;
}

#testimonial-carousel{
  padding: 0 3rem 0 3rem;
}

@media (max-width: 1120px) {
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

@media (max-width: 849px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

/* display 4 */
@media (min-width: 1440px) {
    #settlements-carousel .carousel .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }

    #settlements-carousel .carousel .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }

    .carousel.testimonial-carousel .carousel-inner .carousel-item-right.active,
    .carousel-inner#testimonial .carousel-item-next {
      transform: translateX(100%);
    }

    .carousel.testimonial-carousel .carousel-inner .carousel-item-left.active,
    .carousel-inner#testimonial .carousel-item-prev {
      transform: translateX(-100%);
    }
}

/* display 3 */
@media (max-width: 1439px) {
  #settlements-carousel .carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.3333%);
  }

  #settlements-carousel .carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.3333%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner#testimonial .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner#testimonial .carousel-item-prev {
    transform: translateX(-100%);
  }
}

/* display 2 */
@media (max-width: 1255px) {
  #settlements-carousel .carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  #settlements-carousel .carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner#testimonial .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner#testimonial .carousel-item-prev {
    transform: translateX(-100%);
  }
}

/* display 1 */
@media (max-width: 849px) {
  #settlements-carousel .carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  #settlements-carousel .carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-right.active,
  .carousel-inner#testimonial .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel.testimonial-carousel .carousel-inner .carousel-item-left.active,
  .carousel-inner#testimonial .carousel-item-prev {
    transform: translateX(-100%);
  }
}

// Required at the bottom for scrolling through the carousel
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}


// Card customization
.card-body {

    &__content {
        padding: 1rem;
    }

    &__title {
        padding-top: .5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    &__subject {
        font-size: 1.5rem;
        color: #000000;
    }

  &__info {
      margin-top: 1rem;
  }
}

.card-testimonial {
  border: none
}

