p {
  line-height: 1.78;
  letter-spacing: 0.05em;
  margin: 0 0
}

* {
  font-Family: $font-family-base;
}

a {
  color: #eeeeee;
}

.consultation-btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #004ca3;
  border-radius: 4px;
  height: 56px;
  width: 319px;
}