p {
  line-height: 1.78;
  letter-spacing: 0.05em;
  margin: 0 0
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

a {
  color: #eeeeee;
}

.consultation-btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #004ca3;
  border-radius: 4px;
  height: 56px;
  width: 319px;
}

.statements {
  align-self: center;

  &__content {
    flex-flow: column;
    padding: 2rem 6rem;
    color: #627c86;
  }

  &__link {
    color: #627c86;
    margin-top: 1rem;
    font-weight: 900;
    font-size: 20px;
  }

    h1 {
      white-space: nowrap;
    }
}

.settlement {
  border: solid 1px #979797;
  border-radius: 4px;
  margin: 2rem 0;

  &__header {
    margin:0;
    display: flex;
    align-items: center;
  }

  &__header-sum {
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    margin: 1rem 1rem;
  }

  &__header-subject{
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
  }

  &__body {
    margin: 2rem 2rem;
    display: flex;

  }

  &__content {
    width: 65%;
    font-size: 1.125rem;
  }

  &__icon {
    margin: 0 2rem 0 0 ;
    width: 95px;
    padding: 1.2rem;
    height: 95px;
    border-radius: 50px;
    border: solid 1px #979797;
    background-color: #ffffff;
  }

  &__separator {
    background-color: #b1b1b1;
    height: 1px;
    margin: 0;
  }
}

.separator {
  width: 50%;
  border-top: 3px solid #bf0000;
  background-color: #bf0000;
  margin-left: 0;

  &__carousel {
    width: 100%;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

