@import 'custom';

#navbarNav {
    justify-content: flex-end;}
a {
  color: white;
}

.sections {
  width: 100%;
  height: 504px;
  border: 1px solid black;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;

}


.consultation-button {
 width: 319px;
  height: 56px;
  opacity: 0.69;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #000000;
}

.consolutation-text {
  width: 145px;
  height: 24px;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.01px;
  text-align: center;
  color: #dddddd;
}


.consultation {
    width: 894px;
  height: 48px;
  font-family: Lato;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02px;
  text-align: center;
  color: #000000;

}

.BG {
  width: 100%;
  height: 64px;
  opacity: 0.47;
  background-color: #000000;
}

.call-banner {
  width: 557px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: center;
  color: black;
}
.jumbotron {
  text-align: center;
  background-image: url(../assets/floriane-vita-FyD3OWBuXnY-unsplash.jpg);
  background-size: 100%;
  background-position: center center;
}

.jumbotron h1 {
  color: white;
  text-shadow: #000000 1px 0 10px;
}
.jumbotron p {
  color: white;
  text-shadow: #000000 1px 0 10px;
}
hr {
  background-color: dimgrey !important;
  color: rgb(182, 176, 176) !important;
  height: 7px !important;
  width: 11% !important;
}
.conclusion {
  margin-top: 30px;
  text-align: center;
}
.consultationQuote {
  margin: 5%;
}

