.sections {
  width: 100%;
  height: 504px;
  border: 1px solid black;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.consultation-button {
  color: #ffffff;
  width: 319px;
  height: 56px;
  opacity: 0.69;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #004ca3;
}


.consultation {

  &__link {
    color: black;
  }
}


.call-banner {
  width: 557px;
  height: 22px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: center;
  color: black;
}
.conclusion {
  margin-top: 30px;
  text-align: center;
}
.consultationQuote {
  margin: 5%;
}

