<!-- into start jumbotron banner -->
  <section class="jumbotron jumbotron-fluid jumbotron-custom">
      <h1 class="jumbotron-custom__item">
          37 years of quality service.
      </h1>
      <h2 class="jumbotron-custom__item">Personal attention to every case</h2>
      <button class="jumbotron-custom__item consultation-btn">
          <span class="jumbotron-custom__text">Free Consultation</span>
      </button>
  </section>

<!-- main body -->
<section>
    <div class="row no-gutters">
        <div class="col-lg-6"><!--col 1-->
            <img class="img-fluid" src="../assets/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg" alt="unsplasg img">
        </div>
        <div class="col-lg-6 statements">
            <div class="statements__content">
                <h1>We handle any kind of Injury</h1>
                <hr class="separator"/>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
                <div class="statements__link">
                    <a class="statements__link" href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="w-100"></div>

        <div class="col-lg-6 statements">
            <div class="statements__content">
                <h1>Personal attention to every case</h1>
                <hr class="separator"/>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
                <div class="statements__link">
                    <a class="statements__link" href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6"><!---col 2-->
            <img class="img-fluid" src="../assets/j-zamora-GWOTvo3qq7U-unsplash.jpg" alt="unsplasg img">
        </div>


        <div class="w-100"></div>


        <div class="col-lg-6"><!--col 3-->
            <img class="img-fluid" src="../assets/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg" alt="unsplasg img">
        </div>
        <div class="col-lg-6 statements">
            <div class="statements__content">
                <h1>No payment until we win</h1>
                <hr class="separator"/>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
                <div class="statements__link">
                    <a class="statements__link" href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="conclusion container-fluid">
            <h1 id="title">Conclusion</h1>
            <hr>
            <p class="consultationQuote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, minima! Blanditiis harum autem excepturi perferendis molestias, facere nulla recusandae doloribus, modi vel soluta architecto nam ipsum? Blanditiis dolor facilis sapiente.</p>
            <div>
                <button type="button" class="btn btn-secondary">Free Consultation</button>
            </div>
        </div>
    </div>
</section>

