<!-- into start jumbotron banner -->
  <section class="jumbrotron">
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
          <h1 class="display-4">Legal Process</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent. All rights in its Contribution, if any, in source and binary forms, with or without modification and transfer such copies, publicly transmit or otherwise making the claim in sufficient detail that a license to reproduce, prepare derivative works, distribute, and otherwise use parts of NetHack or use a modified version of the date Contributor first makes Commercial Use of the Initial Developer </p>
        </div>
      </div>
  </section>

<!-- main body -->
<section>
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div>
                <h1>Process 1</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
            </div>
        </div>
        <div class="col-lg-6"><!--col 1-->
            <img class="img-fluid" src="../assets/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg" alt="unsplasg img">
        </div>

        <div class="w-100"></div>

        <div class="col-lg-6"><!---col 2-->
            <img class="img-fluid" src="../assets/j-zamora-GWOTvo3qq7U-unsplash.jpg" alt="unsplasg img">
        </div>

        <div class="col-lg-6">
            <div>
                <h1>Process 2</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
            </div>
        </div>

        <div class="w-100"></div>

        <div class="col-lg-6">
            <div>
                <h1>Process 3</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
            </div>
        </div>

        <div class="col-lg-6"><!--col 3-->
            <img class="img-fluid" src="../assets/giammarco-boscaro-eWpBNXRHfTI-unsplash.jpg" alt="unsplasg img">
        </div>

        <div class="col-lg-6"><!--col 4 -->
            <img class="img-fluid" src="../assets/j-zamora-GWOTvo3qq7U-unsplash.jpg" alt="unsplasg img">
        </div>

        <div class="col-lg-6">
            <div>
                <h1>Process 4</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores mollitia vitae quis, sapiente voluptates necessitatibus ratione culpa alias labore voluptas cum omnis dolores explicabo, amet soluta consequatur pariatur officiis. Porro.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="conclusion container-fluid">
            <h1 id="title">Conclusion</h1>
            <hr>
            <p class="consultationQuote">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, minima! Blanditiis harum autem excepturi perferendis molestias, facere nulla recusandae doloribus, modi vel soluta architecto nam ipsum? Blanditiis dolor facilis sapiente.</p>
            <div>
                <button type="button" class="btn btn-secondary">Free Consultation</button>
            </div>
        </div>
    </div>
</section>

