<section class="jumbotron jumbotron-fluid jumbotron-custom jumbotron-custom--settlements">
    <div class="jumbotron-custom__shadow vertical-center">
        <h1 class="jumbotron-custom__text vertical-center">Injuries</h1>
    </div>
</section>
<div class="container-fluid container-fluid--custom">
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    <div class="col-md-12 injuries__body">
        <div class="row">
            <div class="col-md-3 practice-area">
                <div class="practice-area__header"><span>Practice Area</span></div>
                <ul class="practice-area__items">
                    <% for (let i=0; i<data.length; i += 1) { %>
                    <li class="practice-area__item"><%- data[i].name %></li>
                    <% } %>
                </ul>
            </div>
            <div class="col-md-8 injuries__container">
                <% for (let i=0; i<data.length; i += 1) {%>
                    <% accident=data[i] %>
                    <%- include ('partials/injury-accident') %>
                <%}%>
            </div>
        </div>
    </div>
</div>
