<section class="jumbotron jumbotron-fluid jumbotron-custom jumbotron-custom--settlements">
    <div class="jumbotron-custom__shadow vertical-center">
        <h1 class="jumbotron-custom__text vertical-center">Injuries</h1>
    </div>
</section>
<div class="container-fluid container-fluid--custom">
    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 practice-area">
                <div class="practice-area__header"><span>Practice Area</span></div>
                <ul class="practice-area__items">
                    <li class="practice-area__item">Car Accident</li>
                    <li class="practice-area__item">Boat Accident</li>
                    <li class="practice-area__item">Brain Injury</li>
                    <li class="practice-area__item">Defective Product</li>
                    <li class="practice-area__item">Dog Bite</li>
                    <li class="practice-area__item">Drug Injury</li>
                    <li class="practice-area__item">Environmental Injury</li>
                    <li class="practice-area__item">Fire and Burn Injury</li>
                    <li class="practice-area__item">Life Insurance Company Fraud</li>
                    <li class="practice-area__item">Motorcycle Accident</li>
                    <li class="practice-area__item">Negligent Security</li>
                    <li class="practice-area__item">Nursing Home Abuse</li>
                    <li class="practice-area__item">Railroad Accident</li>
                    <li class="practice-area__item">Scooter Accidents</li>
                    <li class="practice-area__item">Slip and Fall</li>
                    <li class="practice-area__item">Social Security Disability</li>
                    <li class="practice-area__item">Truck Accident</li>
                    <li class="practice-area__item">Veterans Disability Benefits</li>
                    <li class="practice-area__item">Wildfire Liability</li>
                    <li class="practice-area__item">Wrongful Death</li>
                </ul>
            </div>
            <div class="col-md-8 injuries__items">
                <div class="injuries__item">
                    <div>
                        <span>Accident</span>
                        <hr class="separator">
                    </div>
                    <div><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet nibh praesent tristique magna. Tellus pellentesque eu tincidunt tortor aliquam nulla.</span></div>
                    <a href="#"><span>Learn more > </span></a>

                </div>
            </div>
        </div>
    </div>
</div>
