.injuries {

  &__container {
    overflow-y: auto;
    height: 930px;
  }
  &__items {
    padding: 0 2rem 2rem;
    list-style: none;
  }

  &__text {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__header {
    margin: 0;
  }

  &__item {
  }

  &__info {
    margin-top: 1rem;
    display: inline-block;
  }

  &__body {
    margin-top: 4rem;
  }
}

.practice-area {
  border: solid 1px #0a2239;
  padding: 1rem 0 2rem 2rem;

  &__header {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #000000;
  }

  &__items {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 1rem;
    color: #004ca3;
  }
}
