.contact-form {
  background-color: #627c86;
  padding: 3rem 0;

  &__text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 32px;
  }

  &__input {
    margin: .85rem;
  }

  &__submit-text {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.125rem;

  }

  &__legend {
    margin: 2rem auto 4rem auto;
  }

}
